# DATA101 Final Project: Interactive Visualization Application
## Part 1: Data Cleaning

## Import Libraries

In [2]:
# Install Plotly
# Using pip
!pip install plotly

# Using conda
# conda install -c conda-forge plotly

Requirement already satisfied: plotly in /Users/angeloguerra/anaconda3/lib/python3.11/site-packages (5.9.0)
Requirement already satisfied: tenacity>=6.2.0 in /Users/angeloguerra/anaconda3/lib/python3.11/site-packages (from plotly) (8.2.2)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import plotly.express as px
import plotly.graph_objects as go

from pathlib import Path
%pylab inline

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

In [ ]:
## Only do this if you're working on Google Colab

# from google.colab import drive
# drive.mount('/gdrive')
# %cd /gdrive

In [3]:
# when using Google Colab
# dataset_folder = Path('/gdrive/MyDrive/datasets')

# when using local folder
dataset_folder = Path('datasets/')

## Datasets

In [30]:
# Primary Completion Rates
primary_completion = pd.read_csv(dataset_folder / 'Primary/' 'Primary_Completion_Rate_Region_and_Sex_by_Region_Sex_and_Year.csv')
primary_completion.head()

,Region,Both Sexes 2006,Both Sexes 2007,Both Sexes 2008,Both Sexes 2009,Both Sexes 2010,Both Sexes 2011,Both Sexes 2012,Both Sexes 2013,Both Sexes 2014,...,Girls 2006,Girls 2007,Girls 2008,Girls 2009,Girls 2010,Girls 2011,Girls 2012,Girls 2013,Girls 2014,Girls 2015
0,Philippines,71.7,73.1,73.3,72.2,72.1,71.0,72.7,77.7,83.7,...,76.7,78.3,77.9,77.5,77.1,75.7,77.2,81.3,86.2,87.4
1,NCR,88.5,85.3,85.3,79.7,82.9,83.1,80.0,78.7,74.7,...,91.3,89.4,87.5,83.1,86.5,85.9,83.8,81.3,77.6,84.9
2,CAR,75.0,71.7,75.8,77.1,71.8,78.9,78.2,82.6,86.4,...,81.0,76.8,81.2,84.0,76.0,84.8,82.7,85.5,90.1,89.1
3,Region I,81.6,82.7,84.8,83.1,82.8,82.4,85.2,91.1,94.5,...,84.9,86.1,87.3,86.8,86.0,85.8,88.0,93.4,95.6,93.0
4,Region II,78.5,78.1,80.4,78.3,77.5,73.1,82.0,87.9,87.1,...,84.8,83.2,84.6,83.9,82.5,77.3,86.3,91.3,90.3,92.9

In [4]:
# Primary Drop-out Rates
primary_dropout = pd.read_csv(dataset_folder / 'Primary/' 'Primary_Drop-out_rates_by_Region_Sex_and_Year.csv')
primary_dropout.head()

,Region,Both Sexes 2006,Both Sexes 2007,Both Sexes 2008,Both Sexes 2009,Both Sexes 2010,Both Sexes 2011,Both Sexes 2012,Both Sexes 2013,Both Sexes 2014,...,Girls 2006,Girls 2007,Girls 2008,Girls 2009,Girls 2010,Girls 2011,Girls 2012,Girls 2013,Girls 2014,Girls 2015
0,Philippines,6.37,5.99,6.02,6.28,6.29,6.36,6.24,4.85,3.26,...,5.00,4.72,4.87,4.93,5.02,5.18,5.12,4.04,2.77,2.01
1,NCR,2.37,2.83,2.92,4.07,3.31,2.93,4.10,4.36,4.25,...,1.46,1.80,2.13,3.33,2.53,2.42,3.27,3.78,3.60,1.45
2,CAR,5.67,6.41,5.49,5.04,6.00,4.91,4.79,3.75,2.84,...,4.23,5.09,4.16,2.73,4.94,3.57,3.77,3.15,1.71,1.36
3,Region I,3.93,3.76,3.09,3.60,3.78,3.36,3.10,1.92,1.13,...,3.15,2.92,2.41,2.75,3.02,2.53,2.48,1.42,0.93,0.83
4,Region II,4.72,4.95,4.30,4.81,4.95,4.73,3.93,2.42,2.61,...,3.21,3.71,3.28,3.45,3.71,3.59,2.97,1.67,1.96,0.98

In [5]:
# Primary Net Enrollment Rates
primary_enrollment = pd.read_csv(dataset_folder / 'Primary/' 'Primary_Net_Enrolment_Rate_by_Region_Sex_and_Year.csv')
primary_enrollment.head()

,Region,Both Sexes 2006,Both Sexes 2007,Both Sexes 2008,Both Sexes 2009,Both Sexes 2010,Both Sexes 2011,Both Sexes 2012,Both Sexes 2013,Both Sexes 2014,...,Girls 2007,Girls 2008,Girls 2009,Girls 2010,Girls 2011,Girls 2012,Girls 2013,Girls 2014,Girls 2015,Girls 2016
0,Philippines,76.07,75.52,75.55,76.87,95.92,97.10,95.13,93.80,92.57,...,76.32,76.11,77.34,97.47,98.47,96.16,94.65,93.42,91.96,96.12
1,NCR,73.21,72.53,71.95,71.21,96.90,97.16,94.42,92.54,89.67,...,73.29,72.60,71.51,98.70,99.07,96.07,93.86,91.15,89.90,95.30
2,CAR,72.68,71.20,71.21,75.31,97.64,99.58,97.30,95.51,94.53,...,71.69,71.45,75.84,98.61,100.65,98.16,95.97,95.29,93.05,97.94
3,Region I,76.46,74.87,74.33,82.20,98.32,98.89,97.38,96.81,96.84,...,74.65,74.02,81.84,99.17,99.57,97.70,97.02,96.92,95.62,95.50
4,Region II,73.98,71.69,70.19,75.74,95.34,96.07,96.02,96.49,96.32,...,72.05,70.32,75.99,96.45,97.25,96.91,97.12,97.18,97.19,100.68

In [6]:
# Secondary Completion Rates
secondary_completion = pd.read_csv(dataset_folder / 'Secondary/' 'Secondary_Completion_Rate_Region_and_Sex_by_Region_Sex_and_Year.csv')
secondary_completion.head()

,Region,Both Sexes 2006,Both Sexes 2007,Both Sexes 2008,Both Sexes 2009,Both Sexes 2010,Both Sexes 2011,Both Sexes 2012,Both Sexes 2013,Both Sexes 2014,...,Girls 2006,Girls 2007,Girls 2008,Girls 2009,Girls 2010,Girls 2011,Girls 2012,Girls 2013,Girls 2014,Girls 2015
0,Philippines,72.1,75.4,75.2,73.5,75.1,74.4,74.6,76.2,77.8,...,77.0,80.5,79.9,78.2,80.3,80.3,79.7,81.0,81.7,78.5
1,NCR,71.6,78.7,79.6,75.8,75.9,79.1,76.7,76.3,77.3,...,74.0,86.0,84.9,80.8,81.5,84.5,82.1,80.4,81.7,77.8
2,CAR,83.7,75.7,82.4,63.4,75.2,80.0,78.4,76.3,76.9,...,89.7,82.4,89.2,72.3,81.1,89.7,85.5,82.9,83.4,77.3
3,Region I,84.2,82.3,81.2,80.4,78.8,75.0,80.3,82.5,83.6,...,88.4,87.6,85.5,85.3,83.8,80.9,85.7,87.7,87.5,81.0
4,Region II,77.2,79.0,79.8,78.0,79.1,77.8,77.6,82.0,79.3,...,81.3,83.0,83.7,82.2,82.6,83.0,82.6,85.7,84.0,78.9

In [4]:
# Secondary Drop-out Rates
secondary_dropout = pd.read_csv(dataset_folder / 'Secondary/' 'Secondary_Drop-out_rates_by_Geolocation_Sex_and_Year.csv')
secondary_dropout.head()

,Geolocation,Both Sexes 2006,Both Sexes 2007,Both Sexes 2008,Both Sexes 2009,Both Sexes 2010,Both Sexes 2011,Both Sexes 2012,Both Sexes 2013,Both Sexes 2014,...,Girls 2006,Girls 2007,Girls 2008,Girls 2009,Girls 2010,Girls 2011,Girls 2012,Girls 2013,Girls 2014,Girls 2015
0,Philippines,8.5,7.5,7.4,8.0,7.8,7.8,8.1,7.6,6.9,...,6.7,5.6,5.8,6.2,5.7,5.6,6.2,5.8,5.5,4.9
1,NCR,7.4,6.1,5.6,6.9,6.7,5.8,6.9,7.2,6.7,...,6.8,3.5,3.8,5.0,4.6,3.9,4.9,5.8,5.1,3.6
2,CAR,4.2,7.8,5.1,7.9,8.1,6.4,6.9,7.8,6.3,...,2.6,5.3,2.7,4.4,5.6,2.7,4.1,5.3,3.8,3.2
3,Region I,4.1,4.8,5.4,5.5,5.9,6.9,6.1,5.3,4.9,...,4.1,3.1,3.9,3.8,4.2,4.9,4.2,3.5,3.7,4.4
4,Region II,7.1,6.7,6.1,6.9,6.7,6.3,6.9,5.7,6.2,...,5.7,5.3,4.8,5.3,5.4,4.4,5.2,4.3,4.6,4.4

In [5]:
# Secondary Net Enrollment Rates
secondary_enrollment = pd.read_csv(dataset_folder / 'Secondary/' 'Secondary_Net_Enrolment_Rate_Region_and_Sex_by_Region_Sex_and_Year.csv')
secondary_enrollment.head()

,Region,Both Sexes 2006,Both Sexes 2007,Both Sexes 2008,Both Sexes 2009,Both Sexes 2010,Both Sexes 2011,Both Sexes 2012,Both Sexes 2013,Both Sexes 2014,...,Girls 2007,Girls 2008,Girls 2009,Girls 2010,Girls 2011,Girls 2012,Girls 2013,Girls 2014,Girls 2015,Girls 2016
0,Philippines,45.41,45.28,45.59,48.65,64.74,64.20,64.24,64.90,63.23,...,49.14,49.28,52.50,70.21,69.62,70.00,70.10,68.30,72.95,79.94
1,NCR,55.65,55.37,56.08,40.22,79.57,77.83,77.46,76.47,72.39,...,57.37,57.56,45.29,83.20,81.02,82.01,79.07,75.21,78.08,88.33
2,CAR,39.49,38.38,37.04,58.15,63.70,67.22,68.29,68.62,68.15,...,43.07,41.21,60.38,70.67,74.01,75.58,74.55,73.96,76.51,85.50
3,Region I,52.83,52.81,51.61,57.16,76.40,75.57,76.14,77.40,75.85,...,55.82,54.05,59.92,81.19,80.17,80.88,81.58,79.98,82.99,89.18
4,Region II,46.25,45.53,44.59,50.76,69.61,68.94,68.46,68.66,66.90,...,49.86,48.69,55.29,75.51,74.73,74.92,73.85,72.04,75.01,84.53

In [31]:
# Poverty Incidence Rates
poverty_incidence = pd.read_csv(dataset_folder / 'Annual_Per_Capita_Poverty_Threshold_and_Poverty_Incidence_among_Population_and_Children_belonging_to_Poor_Families.csv')
poverty_incidence.head()

,Region,Per Capita Poverty Threshold (in Pesos) 2006,Per Capita Poverty Threshold (in Pesos) 2009,Per Capita Poverty Threshold (in Pesos) 2012,Per Capita Poverty Threshold (in Pesos) 2015,Poverty Incidence among Population (%) 2006,Poverty Incidence among Population (%) 2009,Poverty Incidence among Population (%) 2012,Poverty Incidence among Population (%) 2015,Incidence of Children belonging to Poor Families (%) 2006,Incidence of Children belonging to Poor Families (%) 2009,Incidence of Children belonging to Poor Families (%) 2012,Incidence of Children belonging to Poor Families (%) 2015
0,Philippines,13357,16871,18935,21753,26.6,26.3,25.2,21.6,35.2,35.3,35.2,31.4
1,NCR,15699,19227,20344,25007,4.7,3.6,3.9,3.9,7.1,6.1,7.1,7.0
2,CAR,14107,17243,19483,21770,26.0,25.1,22.8,19.7,35.2,33.4,31.0,28.1
3,Region I,14107,17595,18373,20488,25.9,22.0,18.5,13.1,34.4,29.5,26.6,19.3
4,Region II,13944,17330,19125,21860,26.8,25.5,22.1,15.8,34.4,32.9,29.3,22.5

## Data Cleaning

- Remove the columns associated with specified sexes since the focus of the data is not to drill-down on those
- Rename the columns to only indicate the year
- Remove the 'Philippines' row since the visualization targets drilling down data at a regional level

In [43]:
# Remove unrelated columns
primary_completion_cleaned = primary_completion.drop(['Boys 2006','Boys 2007','Boys 2008','Boys 2009','Boys 2010','Boys 2011','Boys 2012','Boys 2013','Boys 2014','Boys 2015','Girls 2006','Girls 2007','Girls 2008','Girls 2009','Girls 2010','Girls 2011','Girls 2012','Girls 2013','Girls 2014','Girls 2015'], axis=1)

# Rename columns
primary_completion_cleaned = primary_completion_cleaned.rename(columns={"Both Sexes 2006": "2006", "Both Sexes 2007": "2007", "Both Sexes 2008": "2008", "Both Sexes 2009":"2009", "Both Sexes 2010":"2010", "Both Sexes 2011":"2011", "Both Sexes 2012":"2012", "Both Sexes 2013":"2013", "Both Sexes 2014":"2014", "Both Sexes 2015":"2015"})

# Drop Philippines row
primary_completion_cleaned = primary_completion_cleaned.query("Region != 'Philippines'")
primary_completion_cleaned

         Region  2006  2007  2008  2009  2010  2011  2012  2013  2014  2015
1           NCR  88.5  85.3  85.3  79.7  82.9  83.1  80.0  78.7  74.7  82.3
2           CAR  75.0  71.7  75.8  77.1  71.8  78.9  78.2  82.6  86.4  86.2
3      Region I  81.6  82.7  84.8  83.1  82.8  82.4  85.2  91.1  94.5  91.5
4     Region II  78.5  78.1  80.4  78.3  77.5  73.1  82.0  87.9  87.1  89.0
5    Region III  82.2  80.7  81.4  81.9  80.2  80.3  82.6  90.8  88.9  89.1
6   Region IV-A  81.8  79.3  81.6  84.8  82.1  85.4  84.8  72.5  92.3  88.5
7   Region IV-B  70.0  68.1  71.6  69.4  72.9  72.4  74.2  78.1  86.9  90.2
8      Region V  73.0  74.4  74.4  74.4  74.5  74.8  76.8  85.0  86.3  85.4
9     Region VI  70.6  71.9  72.6  72.5  71.2  74.6  78.6  85.7  90.1  88.9
10   Region VII  77.8  78.4  78.8  76.8  76.6  80.4  80.9  85.8  86.1  88.5
11  Region VIII  65.4  69.5  71.6  69.5  71.8  66.1  74.0  80.9  85.4  87.9
12    Region IX  58.6  60.1  58.8  59.8  58.7  59.9  55.5  60.8  92.9  79.7
13     Region X  65.9  67.9  68.7  64.5  65.5  63.8  63.3  72.1  82.6  84.0
14    Region XI  57.2  65.5  62.7  67.0  63.7  61.6  64.5  75.5  83.3  88.8
15   Region XII  62.1  65.5  66.0  62.3  63.3  63.4  66.0  73.6  93.3  83.7
16       Caraga  64.2  71.8  71.9  66.4  71.2  66.0  72.4  80.7  86.9  84.2
17         ARMM  31.4  41.3  37.5  37.2  39.3  23.5  26.6  39.2  35.3  37.1

In [44]:
# Save as new CSV
primary_completion_cleaned.to_csv('cleaned-datasets/Primary/Primary_Completion_Rate_by_Region_and_Year.csv', sep=',', encoding='utf-8')

In [45]:
# Remove unrelated columns
primary_dropout_cleaned = primary_dropout.drop(['Boys 2006','Boys 2007','Boys 2008','Boys 2009','Boys 2010','Boys 2011','Boys 2012','Boys 2013','Boys 2014','Boys 2015','Girls 2006','Girls 2007','Girls 2008','Girls 2009','Girls 2010','Girls 2011','Girls 2012','Girls 2013','Girls 2014','Girls 2015'], axis=1)

# Rename columns
primary_dropout_cleaned = primary_dropout_cleaned.rename(columns={"Both Sexes 2006": "2006", "Both Sexes 2007": "2007", "Both Sexes 2008": "2008", "Both Sexes 2009":"2009", "Both Sexes 2010":"2010", "Both Sexes 2011":"2011", "Both Sexes 2012":"2012", "Both Sexes 2013":"2013", "Both Sexes 2014":"2014", "Both Sexes 2015":"2015"})

# Drop Philippines row
primary_dropout_cleaned = primary_dropout_cleaned.query("Region != 'Philippines'")
primary_dropout_cleaned

,Region,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
1,NCR,2.37,2.83,2.92,4.07,3.31,2.93,4.10,4.36,4.25,2.05
2,CAR,5.67,6.41,5.49,5.04,6.00,4.91,4.79,3.75,2.84,1.90
3,Region I,3.93,3.76,3.09,3.60,3.78,3.36,3.10,1.92,1.13,1.13
4,Region II,4.72,4.95,4.30,4.81,4.95,4.73,3.93,2.42,2.61,1.74
5,Region III,3.69,3.97,3.94,3.72,4.15,4.07,3.71,1.90,2.28,1.45
6,Region IV-A,3.90,4.41,3.87,2.57,3.75,2.46,3.26,6.03,1.55,1.76
7,Region IV-B,6.70,7.40,6.40,6.93,6.25,6.13,5.87,4.73,2.78,1.66
8,Region V,6.06,5.78,5.90,5.80,5.79,5.70,5.35,3.19,2.72,2.54
9,Region VI,6.38,6.14,6.03,6.05,6.56,5.64,4.80,2.91,1.97,1.76
10,Region VII,5.00,4.65,4.59,4.78,4.82,4.23,4.19,2.88,2.68,1.85
11,Region VIII,8.03,6.99,6.51,7.19,6.42,7.97,5.84,4.00,2.76,2.01
12,Region IX,10.40,9.89,10.27,10.21,10.41,9.91,11.50,9.25,1.22,3.73
13,Region X,8.07,7.23,7.28,8.44,7.95,8.74,8.85,6.15,3.62,3.00
14,Region XI,10.49,8.26,9.09,8.12,8.80,9.35,8.58,5.28,3.48,1.90
15,Region XII,8.87,8.29,8.33,9.16,8.90,8.59,7.94,5.82,1.14,3.15
16,Caraga,8.53,6.42,6.62,8.07,6.72,8.05,6.47,4.07,2.28,2.84
17,ARMM,19.76,15.77,17.99,18.63,18.10,22.72,23.81,14.04,19.02,17.17

In [46]:
# Save as new CSV
primary_dropout_cleaned.to_csv('cleaned-datasets/Primary/Primary_Drop-out_Rate_by_Region_and_Year.csv', sep=',', encoding='utf-8')

In [49]:
# Remove unrelated columns
primary_enrollment_cleaned = primary_enrollment.drop(['Boys 2006','Boys 2007','Boys 2008','Boys 2009','Boys 2010','Boys 2011','Boys 2012','Boys 2013','Boys 2014','Boys 2015','Girls 2006','Girls 2007','Girls 2008','Girls 2009','Girls 2010','Girls 2011','Girls 2012','Girls 2013','Girls 2014','Girls 2015'], axis=1)

# Rename columns
primary_enrollment_cleaned = primary_enrollment_cleaned.rename(columns={"Both Sexes 2006": "2006", "Both Sexes 2007": "2007", "Both Sexes 2008": "2008", "Both Sexes 2009":"2009", "Both Sexes 2010":"2010", "Both Sexes 2011":"2011", "Both Sexes 2012":"2012", "Both Sexes 2013":"2013", "Both Sexes 2014":"2014", "Both Sexes 2015":"2015"})

# Drop Philippines row
primary_enrollment_cleaned = primary_enrollment_cleaned.query("Region != 'Philippines'")

# Drop 2016 columns
primary_enrollment_cleaned = primary_enrollment_cleaned.drop(['Both Sexes 2016', 'Boys 2016', 'Girls 2016'], axis=1)
primary_enrollment_cleaned

,Region,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
1,NCR,73.21,72.53,71.95,71.21,96.90,97.16,94.42,92.54,89.67,88.13
2,CAR,72.68,71.20,71.21,75.31,97.64,99.58,97.30,95.51,94.53,92.18
3,Region I,76.46,74.87,74.33,82.20,98.32,98.89,97.38,96.81,96.84,95.39
4,Region II,73.98,71.69,70.19,75.74,95.34,96.07,96.02,96.49,96.32,96.31
5,Region III,78.76,78.06,77.69,76.43,98.04,98.55,96.74,96.22,95.64,93.85
6,Region IV-A,79.10,78.43,78.08,71.67,93.94,95.69,95.01,92.47,92.03,89.94
7,Region IV-B,80.76,78.90,79.89,85.20,95.04,97.63,95.52,93.52,92.33,92.25
8,Region V,81.19,80.57,80.01,89.06,97.19,98.55,96.79,95.50,94.02,91.09
9,Region VI,71.68,69.96,69.11,75.34,93.38,95.56,95.43,95.83,95.79,95.43
10,Region VII,73.43,72.65,73.51,76.09,95.48,97.38,97.43,97.36,96.75,96.02
11,Region VIII,76.39,75.51,76.23,87.65,95.39,95.96,94.25,92.61,91.68,89.57
12,Region IX,75.72,74.96,75.06,76.97,94.34,97.33,94.48,90.50,92.15,90.23
13,Region X,74.48,73.99,74.45,74.03,92.73,93.91,92.44,91.00,90.25,89.68
14,Region XI,70.67,69.78,70.44,75.11,99.37,99.54,97.06,97.85,96.09,96.65
15,Region XII,72.15,72.99,73.96,75.65,88.65,90.09,88.13,87.16,88.22,87.72
16,Caraga,75.77,74.80,73.85,79.95,96.95,94.97,93.94,94.32,94.54,94.29
17,ARMM,84.83,91.94,95.45,76.16,103.25,105.70,93.00,87.73,75.64,69.64

In [50]:
# Save as new CSV
primary_enrollment_cleaned.to_csv('cleaned-datasets/Primary/Primary_Net_Enrollment_Rate_by_Region_and_Year.csv', sep=',', encoding='utf-8')

In [51]:
# Remove unrelated columns
secondary_completion_cleaned = secondary_completion.drop(['Boys 2006','Boys 2007','Boys 2008','Boys 2009','Boys 2010','Boys 2011','Boys 2012','Boys 2013','Boys 2014','Boys 2015','Girls 2006','Girls 2007','Girls 2008','Girls 2009','Girls 2010','Girls 2011','Girls 2012','Girls 2013','Girls 2014','Girls 2015'], axis=1)

# Rename columns
secondary_completion_cleaned = secondary_completion_cleaned.rename(columns={"Both Sexes 2006": "2006", "Both Sexes 2007": "2007", "Both Sexes 2008": "2008", "Both Sexes 2009":"2009", "Both Sexes 2010":"2010", "Both Sexes 2011":"2011", "Both Sexes 2012":"2012", "Both Sexes 2013":"2013", "Both Sexes 2014":"2014", "Both Sexes 2015":"2015"})

# Drop Philippines row
secondary_completion_cleaned = secondary_completion_cleaned.query("Region != 'Philippines'")
secondary_completion_cleaned

         Region  2006  2007  2008  2009  2010  2011  2012  2013  2014  2015
1           NCR  71.6  78.7  79.6  75.8  75.9  79.1  76.7  76.3  77.3  74.2
2           CAR  83.7  75.7  82.4  63.4  75.2  80.0  78.4  76.3  76.9  70.0
3      Region I  84.2  82.3  81.2  80.4  78.8  75.0  80.3  82.5  83.6  76.4
4     Region II  77.2  79.0  79.8  78.0  79.1  77.8  77.6  82.0  79.3  73.7
5    Region III  74.6  76.6  76.3  76.1  77.8  75.2  76.0  83.0  79.2  72.4
6   Region IV-A  80.1  80.6  81.0  77.3  79.8  84.0  82.3  77.9  82.3  81.6
7   Region IV-B  73.2  72.6  72.6  73.1  70.4  72.8  76.6  76.8  77.4  76.6
8      Region V  70.3  74.0  73.1  73.6  73.0  71.4  71.9  75.5  76.4  69.4
9     Region VI  70.0  75.5  76.3  76.3  74.6  75.5  75.7  78.3  81.9  74.8
10   Region VII  70.3  72.6  73.3  73.1  75.4  74.6  74.4  78.4  75.8  75.3
11  Region VIII  69.0  69.7  70.6  69.9  69.7  67.8  70.7  74.1  69.2  70.1
12    Region IX  71.0  69.4  68.7  69.7  68.3  70.0  64.6  67.7  77.2  70.6
13     Region X  66.4  71.7  70.4  65.9  79.9  65.0  72.2  69.1  76.9  72.1
14    Region XI  64.7  70.4  72.6  68.8  73.0  68.6  72.2  71.9  79.8  73.4
15   Region XII  55.9  70.9  68.2  73.3  72.3  69.2  71.8  73.9  84.5  73.0
16       Caraga  69.9  73.0  73.6  59.9  71.0  69.5  69.8  73.4  77.5  70.6
17         ARMM  35.2  65.4  53.6  65.4  59.5  56.0  52.5  56.2  48.7  64.0

In [52]:
# Save as new CSV
secondary_completion_cleaned.to_csv('cleaned-datasets/Secondary/Secondary_Completion_Rate_by_Region_and_Year.csv', sep=',', encoding='utf-8')

In [8]:
# Remove unrelated columns
secondary_dropout_cleaned = secondary_dropout.drop(['Boys 2006','Boys 2007','Boys 2008','Boys 2009','Boys 2010','Boys 2011','Boys 2012','Boys 2013','Boys 2014','Boys 2015','Girls 2006','Girls 2007','Girls 2008','Girls 2009','Girls 2010','Girls 2011','Girls 2012','Girls 2013','Girls 2014','Girls 2015'], axis=1)

# Rename columns
secondary_dropout_cleaned = secondary_dropout_cleaned.rename(columns={"Both Sexes 2006": "2006", "Both Sexes 2007": "2007", "Both Sexes 2008": "2008", "Both Sexes 2009":"2009", "Both Sexes 2010":"2010", "Both Sexes 2011":"2011", "Both Sexes 2012":"2012", "Both Sexes 2013":"2013", "Both Sexes 2014":"2014", "Both Sexes 2015":"2015"})

# Drop Philippines row
secondary_dropout_cleaned = secondary_dropout_cleaned.query("Geolocation != 'Philippines'")

# Rename Geolocation to Region
secondary_dropout_cleaned = secondary_dropout_cleaned.rename(columns={"Geolocation":"Region"})
secondary_dropout_cleaned

         Region  2006  2007  2008  2009  2010  2011  2012  2013  2014  2015
1           NCR   7.4   6.1   5.6   6.9   6.7   5.8   6.9   7.2   6.7   5.1
2           CAR   4.2   7.8   5.1   7.9   8.1   6.4   6.9   7.8   6.3   6.2
3      Region I   4.1   4.8   5.4   5.5   5.9   6.9   6.1   5.3   4.9   6.1
4     Region II   7.1   6.7   6.1   6.9   6.7   6.3   6.9   5.7   6.2   6.4
5    Region III   7.3   6.8   6.9   7.0   6.7   7.6   7.6   5.3   6.4   7.0
6   Region IV-A   5.3   5.5   5.4   6.5   5.9   4.5   5.4   7.0   5.3   4.7
7   Region IV-B   9.1   8.8   8.2   8.6   9.4   8.9   7.7   7.6   7.1   6.2
8      Region V   9.2   8.4   8.8   8.5   8.6   9.3   9.2   7.9   7.5   8.3
9     Region VI   8.9   7.1   7.4   7.1   7.5   7.4   7.7   6.8   5.5   6.8
10   Region VII  10.4   9.0   8.4   8.5   7.8   8.1   8.3   6.9   7.9   6.1
11  Region VIII  10.2   9.8   9.6   9.9   9.9  11.0   9.8   8.6  10.1   8.3
12    Region IX   9.5  10.1  10.5  10.0  10.1   9.8  12.0  11.2   7.9   7.4
13     Region X  10.7   9.0   9.8  11.2   6.0  11.8   8.8  10.2   6.3   8.0
14    Region XI  12.1   8.9   8.5  10.3   9.2   9.3   8.7   8.9   6.4   7.2
15   Region XII  10.4   9.1  10.2   8.1   8.7   9.6   9.3   8.4   4.9   8.2
16       Caraga  10.0   8.8   8.7   9.8   9.3  10.1  10.4   8.9   7.5   8.3
17         ARMM  24.8   9.3  10.8  11.4  11.2  12.3  18.3  15.3  19.2   9.6

In [9]:
# Save as new CSV
secondary_dropout_cleaned.to_csv('cleaned-datasets/Secondary/Secondary_Drop-out_Rate_by_Region_and_Year.csv', sep=',', encoding='utf-8')

In [10]:
# Remove unrelated columns
secondary_enrollment_cleaned = secondary_enrollment.drop(['Boys 2006','Boys 2007','Boys 2008','Boys 2009','Boys 2010','Boys 2011','Boys 2012','Boys 2013','Boys 2014','Boys 2015','Girls 2006','Girls 2007','Girls 2008','Girls 2009','Girls 2010','Girls 2011','Girls 2012','Girls 2013','Girls 2014','Girls 2015'], axis=1)

# Rename columns
secondary_enrollment_cleaned = secondary_enrollment_cleaned.rename(columns={"Both Sexes 2006": "2006", "Both Sexes 2007": "2007", "Both Sexes 2008": "2008", "Both Sexes 2009":"2009", "Both Sexes 2010":"2010", "Both Sexes 2011":"2011", "Both Sexes 2012":"2012", "Both Sexes 2013":"2013", "Both Sexes 2014":"2014", "Both Sexes 2015":"2015"})

# Drop Philippines row
secondary_enrollment_cleaned = secondary_enrollment_cleaned.query("Region != 'Philippines'")

# Drop 2016 columns
secondary_enrollment_cleaned = secondary_enrollment_cleaned.drop(['Both Sexes 2016', 'Boys 2016', 'Girls 2016'], axis=1)
secondary_enrollment_cleaned

,Region,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
1,NCR,55.65,55.37,56.08,40.22,79.57,77.83,77.46,76.47,72.39,75.49
2,CAR,39.49,38.38,37.04,58.15,63.70,67.22,68.29,68.62,68.15,71.32
3,Region I,52.83,52.81,51.61,57.16,76.40,75.57,76.14,77.40,75.85,79.44
4,Region II,46.25,45.53,44.59,50.76,69.61,68.94,68.46,68.66,66.90,70.21
5,Region III,49.91,50.03,50.65,50.34,74.40,73.53,73.11,74.34,72.83,75.47
6,Region IV-A,51.69,51.73,52.10,48.59,70.28,71.21,71.03,70.43,68.60,72.60
7,Region IV-B,47.39,47.48,48.02,49.75,59.95,61.15,62.21,62.78,62.55,68.94
8,Region V,45.87,46.01,45.49,49.49,57.77,60.61,60.87,63.63,63.14,69.51
9,Region VI,45.21,44.63,44.52,47.52,61.36,61.53,61.20,62.11,60.94,68.66
10,Region VII,39.75,39.32,40.27,42.68,61.46,60.34,62.44,65.67,64.55,71.49
11,Region VIII,42.60,43.19,44.69,50.52,56.55,57.91,58.65,61.02,59.22,65.21
12,Region IX,40.92,40.35,40.94,42.01,62.07,50.14,50.02,50.25,49.62,56.57
13,Region X,37.27,36.72,36.26,37.03,55.24,54.73,55.76,54.36,54.46,59.53
14,Region XI,38.34,38.37,38.18,40.04,55.87,55.61,55.85,57.58,56.97,63.83
15,Region XII,39.65,39.86,40.03,39.76,54.15,53.07,53.18,53.85,53.72,59.00
16,Caraga,40.64,40.66,41.98,46.75,58.18,56.40,57.75,59.42,59.88,66.62
17,ARMM,28.66,28.82,31.26,78.34,44.54,43.84,39.25,37.22,29.62,32.43

In [11]:
# Save as new CSV
secondary_enrollment_cleaned.to_csv('cleaned-datasets/Secondary/Secondary_Enrollment_Rate_by_Region_and_Year.csv', sep=',', encoding='utf-8')

In [32]:
# Remove unrelated columns
poverty_incidence_cleaned = poverty_incidence.drop(["Per Capita Poverty Threshold  (in Pesos) 2006", "Per Capita Poverty Threshold  (in Pesos) 2009", "Per Capita Poverty Threshold  (in Pesos) 2012", "Per Capita Poverty Threshold  (in Pesos) 2015", "Incidence of Children belonging to Poor Families (%) 2006", "Incidence of Children belonging to Poor Families (%) 2009", "Incidence of Children belonging to Poor Families (%) 2012", "Incidence of Children belonging to Poor Families (%) 2015"], axis=1)

# Rename columns
poverty_incidence_cleaned = poverty_incidence_cleaned.rename(columns={"Poverty Incidence among Population (%) 2006":"2006", "Poverty Incidence among Population (%) 2009":"2009", "Poverty Incidence among Population (%) 2012":"2012", "Poverty Incidence among Population (%) 2015":"2015"})

# Drop Philippines row
poverty_incidence_cleaned = poverty_incidence_cleaned.query("Region != 'Philippines'")
poverty_incidence_cleaned

         Region  2006  2009  2012  2015
1           NCR   4.7   3.6   3.9   3.9
2           CAR  26.0  25.1  22.8  19.7
3      Region I  25.9  22.0  18.5  13.1
4     Region II  26.8  25.5  22.1  15.8
5    Region III  13.1  13.7  12.9  11.2
6   Region IV-A  10.3  11.9  10.9   9.1
7   Region IV-B  40.6  34.5  31.0  24.4
8      Region V  44.2  44.2  41.1  36.0
9     Region VI  29.1  30.8  29.1  22.4
10   Region VII  35.9  31.0  30.2  27.6
11  Region VIII  41.5  42.6  45.2  38.7
12    Region IX  45.0  45.8  40.1  33.9
13     Region X  39.0  40.1  39.5  36.6
14    Region XI  30.6  31.4  30.7  22.0
15   Region XII  37.9  38.3  44.7  37.3
16       Caraga  49.2  54.4  40.3  39.1
17         ARMM  47.1  47.4  55.8  53.7

In [33]:
# Save as new CSV
poverty_incidence_cleaned.to_csv('cleaned-datasets/Poverty_Incidence_among_Population.csv', sep=',', encoding='utf-8')